In [116]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [130]:
destination_list = []
length_list = []
start_date_list = []
minimum_price_list = []

for p in range(1, 21):
    url = 'https://lastsecond.ir/tours?hotel&list=&page={}'.format(p)
    response = requests.get(url)
    bs = BeautifulSoup(response.content, 'html.parser')
    all_tours = bs.find('div' , class_= 'col-9 main-list')

    destinations = all_tours.find_all('div' , attrs = {'class' : 'location'})
    length = all_tours.find_all('div', attrs = {'class' : 'duration'})
    start_date = all_tours.find_all('div' , attrs = {'class' : 'origin'})
    minimum_price = all_tours.find_all('div' , attrs = {'class' : 'item-price'})

    each_list_lenght = [
        len(destinations),
        len(length),
        len(start_date),
        len(minimum_price),
        ]
    if len(set(each_list_lenght)) ==1:
        for i in range(0, each_list_lenght[0]):
            destination_list.append(destinations[i].get_text())
            length_list.append(length[i].get_text().split('\n')[1].strip())
            start_date_list.append(start_date[i].get_text().strip().split(' ')[2])
            minimum_price_list.append(minimum_price[i].get_text().strip().split(' ')[0:2])
    else:
        print('Sorry ! Wehave some missing values')
    print('Scraping page number {} is finished'.format(p))

Scraping page number 1 is finished
Scraping page number 2 is finished
Scraping page number 3 is finished
Scraping page number 4 is finished
Scraping page number 5 is finished
Scraping page number 6 is finished
Scraping page number 7 is finished
Scraping page number 8 is finished
Scraping page number 9 is finished
Scraping page number 10 is finished
Scraping page number 11 is finished
Scraping page number 12 is finished
Sorry ! Wehave some missing values
Scraping page number 13 is finished
Sorry ! Wehave some missing values
Scraping page number 14 is finished
Scraping page number 15 is finished
Scraping page number 16 is finished
Scraping page number 17 is finished
Scraping page number 18 is finished
Scraping page number 19 is finished
Scraping page number 20 is finished

[20, 20, 20, 20]

[['4,250,000', 'تومان'],
 ['4,300,000', 'تومان'],
 ['4,600,000', 'تومان'],
 ['4,700,000', 'تومان'],
 ['4,700,000', 'تومان'],
 ['4,800,000', 'تومان'],
 ['4,800,000', 'تومان'],
 ['4,800,000', 'تومان'],
 ['4,800,000', 'تومان'],
 ['4,900,000', 'تومان'],
 ['5,000,000', 'تومان'],
 ['5,000,000', 'تومان'],
 ['5,140,000', 'تومان'],
 ['5,200,000', 'تومان'],
 ['5,200,000', 'تومان'],
 ['5,250,000', 'تومان'],
 ['5,300,000', 'تومان'],
 ['5,300,000', 'تومان'],
 ['5,300,000', 'تومان'],
 ['5,300,000', 'تومان']]

In [132]:
df = pd.DataFrame(list(zip(destination_list,length_list,start_date_list,minimum_price_list)),
                  columns = ['Destination', 'Length','Start_date','Min_price'])

In [133]:
df

    Destination Length Start_date           Min_price
0          مشهد   2 شب       7/13  [2,700,000, تومان]
1          مشهد   2 شب       7/13  [2,950,000, تومان]
2          مشهد   2 شب       7/13  [3,000,000, تومان]
3          مشهد   2 شب       7/13  [3,000,000, تومان]
4          مشهد   2 شب       7/13  [3,350,000, تومان]
..          ...    ...        ...                 ...
355         وان   3 شب       7/14  [5,620,000, تومان]
356         وان   3 شب       7/14  [5,620,000, تومان]
357         کیش   3 شب       7/14  [5,695,000, تومان]
358         قشم   3 شب       7/14  [5,700,000, تومان]
359         کیش   4 شب       7/14  [5,740,000, تومان]

[360 rows x 4 columns]